<div class="event">
  <div class="row">
    <div class="col-md-2">
      <h4>
        <%= link_to @event.location do %>
          <span class="glyphicon glyphicon-menu-left"></span>
          <%= @event.location %>
        <% end %>
      </h4>
    </div>
    <div class="col-md-5">
      <h4>
        <%= @event.date.strftime('%d.%m.%Y') %>
      </h4>
      <h1>
        <%= @event.title %>
      </h1>
      <h1>
        <small><%= simple_format @event.subtitle %></small>
      </h1>
      <br />
      <% if doors = @event.doors %>
        <h4 class="doors">
          Doors:
          <%= doors.strftime('%H:%M') %>
        </h4>
      <% end %>
      <% if starts_at = @event.starts_at %>
        <h4 class="starts_at">
          Starts:
          <%= starts_at.strftime('%H:%M') %>
        </h4>
      <% end %>
      <% if ends_at = @event.ends_at %>
        <h4 class="ends_at">
          Ends:
          <%= ends_at.strftime('%H:%M') %>
        </h4>
      <% end %>
      <% if admission = @event.admission %>
        <h4 class="admission">
          Admission:
          <%= admission %>
        </h4>
      <% end %>
      <%= link_to @event.url, target: :blank do %>
        <h5>
          <span class="glyphicon glyphicon-globe"></span>
          Website
        </h5>
      <% end %>
    </div>

    <div class="col-md-5">
      <% if img = @event.image_url %>
        <%= image_tag img, class: 'img-responsive' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <hr />
      <p class="description">
        <%= simple_format sanitize(with_markdown_links(@event.description), attributes: ['target', 'href']), {}, sanitize: false %>
      </p>
    </div>
  </div>
</div>
