<div class="page-header">
  <h3>
    Your Profile
    <div class="pull-right">
      <%= link_to "Change Password", edit_user_password_path(user_id: current_user.id), class: 'btn btn-default' %>
      <%= link_to "Sign Out", sign_out_path, method: :delete, class: 'btn btn-danger' %>
    </div>
  </h3>
</div>
<% first_region = Region.first %>
<%= form_for @profile do |f| %>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <% Region.all.each do |region| %>
          <li class=<%= (region == first_region ? "active" : "") %>><%= link_to "#{region}", "#region-#{region.id}", data: { toggle: "tab" } %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-10">
      <div class="tab-content">
        <% Region.all.each do |region| %>

          <div class="tab-pane <%= (region == first_region ? 'active' : '') %>" id="region-<%= region.id %>">
            <p>
              <%= link_to 'Toggle All', '#', class: 'btn btn-default' %>
            </p>

            <% region.cities.order(:name).each do |city| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong><%= region %></strong>
                  <%= link_to 'Toggle All', '#', class: 'btn btn-default btn-xs' %>
                </div>
                <div class="list-group filter-list">
                  <% city.locations.each do |location| %>
                    <%= f.fields_for :location_interests do |ff| %>
                      <% location_id = location.id %>
                      <% id = "location_interest_for_#{location_id}" %>
                      <div class="list-group-item">
                        <%= ff.check_box location_id, checked: @profile.location_ids.include?(location_id), class: 'filter-checkbox' %>
                        <%= ff.label location_id, "#{location}, #{city}", class: 'filter-label' %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
          <% end %>

          </div>
        <% end %>
        <%= f.submit :save, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
