<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <%= @location %>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <%= link_to @location.events_url, class: 'btn-link', target: :blank do %>
          <span class="glyphicon glyphicon-globe"></span>
          Website
        <% end %>
      </li>
      <li><%= link_to "About #{@location}", '#about', data: { toggle: 'tab' } %></li>
      <li class="active"><%= link_to "Events", '#by-date', data: { toggle: 'tab' } %></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="tab-content">
      <div class="tab-pane active" id='by-date'>
        <%= render 'by_date', events: @location.events %>
      </div>
      <div class="tab-pane" id='about'>
      </div>
    </div>
  </div>
</div>
